.container
  .validation_message
    - article.errors.full_messages.each do |message|
      %p= message

  = form_with(model: article, local: true) do |f|
    .eyecatchs_field
      %div
        = f.label :eyecatchs ,'画像：'
        = f.file_field :eyecatchs ,multiple: true, class: 'file-input'
        .fas.fa-exclamation-circle
        %span 最大3枚まで
      .image_area
      /選択画像プレビュー用

    %div
      = f.label :shop_name, '店舗名'
      .must
        %span 必須
    %div 
      = f.text_field :shop_name, class: 'text', placeholder: 'スターバックスコーヒー 〇〇店 ....etc'
    %div
      = f.label :addreses, '住所'
      .must
        %span 必須
    %div
      = f.text_field :address, class: 'text', placeholder: '東京都新宿区1-1-1 ....etc'
    %div
      = f.label :wifi, 'Wi-Fi'
    %div
      = f.radio_button :wifi, :available_wifi, checked: true
      %span あり
      -# = f.label :wifi, 'あり'
      = f.radio_button :wifi, :disavailable_wifi
      -# = f.label :wifi, 'なし'
      %span なし
    %div
      = f.label :outlet, '電源コンセント'
    %div
      = f.radio_button :outlet, :available_outlet, checked: true
      %span あり
      = f.radio_button :outlet, :disavailable_outlet
      %span なし
    %div
      = f.label :auther_comment, 'コメント'
    %div
      = f.text_area :auther_comment, class: 'text js-text', placeholder: '混み具合、店内の雰囲気 ....etc'
      %p.js-text-count
    %div
      = f.label :shop_url, 'URL'
    %div
      = f.text_field :shop_url, class: 'text', placeholder: '店舗ホームページなど'
    %div 
      = f.submit "保存", class: 'btn-primary'

= javascript_pack_tag 'eyecatch'
= javascript_pack_tag 'count'