.search_form
  = search_form_for(@q, method: :get) do |f|
    .search_form_field
      = f.label :shop_name_or_address_cont_all, 'キーワード'
      = f.search_field :shop_name_or_address_cont_all, class: 'search_text', placeholder: '店舗名,地名 etc....'
      .space
      = f.label :wifi, 'Wi-Fi'
      = f.radio_button :wifi_eq, '', {:checked => true}
      指定なし
      = f.radio_button :wifi_eq, 0
      あり
      .space
      = f.label :outlet, '電源'
      = f.radio_button :outlet_eq, '', {:checked => true}
      指定なし
      = f.radio_button :outlet_eq, 0
      あり
    %div.search_form_submit
      = f.submit "検索"