.top
  %h2.top-title Let's Share NOMAD CAFE
  %p.top-title-lead available Wi-Fi & Outlet

.container
  %h2#search_toggle 
    検索 >
  #index_search
    = render 'search_form'
  - @articles.each do |article|
    = link_to article_path(article) do
      .card
        .card-image
          - if article.eyecatch.present?
            = image_tag article.eyecatch
          - else
            = image_tag 'no-image.png'
        .card-content
          .card-header
            .card-shop_name
              %h2= article.shop_name
            .card-heart
              -# = link_to article_like_path(article), data: { method: 'post' } do
              = image_tag 'heart.svg'
              %span= article.like_count
          .card-shop_area
            = "エリア：#{article.prefecture.name}"
            %span= article.area.name 
          .card-shop_address
            %p= "住所：#{article.address}"
          .card-shop_facility
            - if article.wifi == 'available_wifi'
              .wifi-icon
                #{I18n.t("enum.wifi.#{article.wifi}")}
            - if article.outlet == 'available_outlet'   
              .outlet-icon 
                #{I18n.t("enum.outlet.#{article.outlet}")}
          .card-detail
            .card-avatar
              -if article.user.profile.present?
                = image_tag article.user.profile.avatar
              - else
                = image_tag 'default-avatar.png' 
              %p= article.user.display_name
            .card-comment 
              .says
                %P= article.auther_comment
          .card-create_day
            %p= "投稿日：#{article.display_created_at}"

= javascript_pack_tag 'header'
= javascript_pack_tag 'search_prefecture'