.container
  .article#article-show{data: {article_id: @article.id}}
    .article-image
      - if @article.eyecatchs.present?
        .article-image-sub{data: {sub_image_id: @article.id}}
          - @article.eyecatchs.each do |eyecatch|
            = image_tag eyecatch.variant(resize_to_fill: [500, 500])
        .article-image-main{data: {main_image_id: @article.id}}
          = image_tag @article.eyecatchs[0].variant(resize_to_fill: [500, 500]), {data: {image_id: @article.id}}
      - else 
        .article-image-main
          = image_tag 'no-image.png', class: "article-no-image"
      
      - if user_signed_in? 
        / いいねマーク
        .article-heart.hidden.active-heart
          = image_tag 'heart-active.svg'
        .article-heart.hidden.inactive-heart
          = image_tag 'heart.svg'
        - if current_user.has_written?(@article)
          .dropdown.article-edit_btn
            = image_tag "edit.svg", class: "dropbtn"
            .dropdown-content.mini
              = link_to "編集する", edit_article_path(@article)
              = button_to "削除する", article_path, class: 'article-delete_btn'
    .card-detail
      .card-avatar
        -if @article.user.profile.present?
          = image_tag @article.user.profile.avatar
        - else
          = image_tag 'default-avatar.png' 
        %p= @article.user.display_name
      -if @article.auther_comment.present? || @article.auther_comment != ""
        .card-comment 
          .says
            %P= @article.auther_comment
    /店舗情報
    .shop_wrapper
      .section-title
        Shop Info
      .article-shop-info
        .article-shop_name
          ="店舗名：#{@article.shop_name}"
        .article-address
          #address{:value => "#{@article.address}"}
            = "住所：#{@article.address}"
        .article_facility
          %p.article_facility_wifi
            Wi-Fi：
            - if @article.wifi == 'available_wifi'
              あり
            -else
              なし
          %p.article_facility_wifi
            電源コンセント：
            - if @article.outlet == 'available_outlet'   
              あり
            -else
              なし
        -if @article.shop_url.present? || @article.shop_url != ""
          %p.article_shop_url
            URL：
            =link_to @article.shop_name, @article.shop_url
          
      #map

      -# コメント一覧
      .section-title 
        Comments
      .comment-wrapper
        - @comments.each do |comment|  
          .comment-box
            .comment-avatar
              -if comment.user.profile.avatar.present?
                = image_tag comment.user.profile.avatar
              - else
                = image_tag 'default-avatar.png' 
            .comment-text
              %p.bold
                = comment.user.display_name
              %p= comment.content
        = link_to 'コメントを作成',new_article_comment_path(@article), class:'btn-primary'


-# GoogleMAP(画像は#mapに表示される)
:javascript
  let map
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
    });
  
    let inputAddress = document.getElementById('address').innerText;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      let mapError =  document.getElementById('map');
      mapError.style.display = "none";
      //alert('該当する結果がありませんでした：' + status);
    }
    });
  }
  
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{@api_key}&callback=initMap"}
= javascript_pack_tag 'article'
