.container
  .article#article-show{data: {article_id: @article.id}}
    .article-header
      %h1.article-title= @article.shop_name
      .article-detail
        - if user_signed_in? 
          .article-heart.hidden.active-heart
            = image_tag 'heart-active.svg'
          .article-heart.hidden.inactive-heart
            = image_tag 'heart.svg'
            %span Like
          - if current_user.has_written?(@article)
            .detail_actions
              .dropdown.article-dropdown
                = image_tag "actions.svg", class: "dropbtn"
                .dropdown-content.mini
                  = link_to "編集する", edit_article_path(@article)
                  -# = link_to "削除する", article_path(@article), data: {method: "delete", confirm: "本当に削除してよろしいですか？"}
                  = button_to "削除する", article_path(@article), method: :delete,data: {confirm: "本当に削除してよろしいですか？"},class: 'delete-btn'
    /イメージ画像
    - if @article.eyecatchs.attached?
      .article-image
        - if @article.eyecatchs.present?
          .article-image-sub{data: {sub_image_id: @article.id}}
            - @article.eyecatchs.each do |eyecatch|
              = image_tag eyecatch.variant(resize_to_fill: [550, 550])
          .article-image-main{data: {main_image_id: @article.id}}
            = image_tag @article.eyecatchs[0].variant(resize_to_fill: [550, 550]), {data: {image_id: @article.id}}
    
    -# %h2.section-title
    -#   Author Comment
    -# %p.article_content
    -#   =@article.content
    .shop_info
      %h2.section-title
        Shop Info
      .article-shop_name
        ="店舗名：#{@article.shop_name}"
      .article-address
        住所：
        #address{:value => "#{@article.address}"}
          = @article.address
      .article_facility
        %p.article_facility_wifi
          Wi-Fi：
          - if @article.wifi == 'available_wifi'
            あり
          -else
            なし
        %p.article_facility_wifi
          電源コンセント：
          - if @article.outlet == 'available_outlet'   
            あり
          -else
            なし
      -if @article.shop_url.present? || @article.shop_url != ""
        %p.article_shop_url
          URL：
          =link_to @article.shop_name, @article.shop_url
      #map

:javascript
  let map
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
    });
  
    let inputAddress = document.getElementById('address').innerText;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      let mapError =  document.getElementById('map');
      mapError.style.display = "none";
      //alert('該当する結果がありませんでした：' + status);
    }
    });   
    //marker = new google.maps.Marker({
    //position:  {lat: 40.7828, lng:-73.9653},
    //map: map
    //});
  }
  
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=#{@api_key}&callback=initMap"}
= javascript_pack_tag 'article'
