!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NOMAD CAFE
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %link{:href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = favicon_link_tag('favicon.ico')
    
  %body
    .header
      .header-logo
        = link_to root_path do
          =image_tag 'logo_transparent.png'
      - if user_signed_in?
        .header-nav
          .header-nav-btn
            = link_to '新規投稿', new_article_path, class: 'header-post'
          .header-nav-btn
            = link_to "プロフィール",profile_path, class: 'header-mypage'
          .header-nav-btn
            = link_to 'お気に入り', favorites_path, class: 'header-favorite'
          .header-nav-btn
            = button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header-logout'
        .header-nav-sm
          .dropdown
            = image_tag "humburger.svg", class: "dropbtn"
            .dropdown-content.mini
              = link_to "プロフィール",profile_path, class: 'header-mypage'
              = link_to 'お気に入り', favorites_path, class: 'header-favorite'
              = button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'header-logout'
    .header-padding
      - if flash.present?
        .flash
          - flash.each do |key, value|
            %div{:class => key}= value
    = yield
    -# .footer
    -#   .footer-text
    -#     %p= "© Shuhei Nagao 2020"
